.timer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timer__content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.timer__start {
    opacity: 0;
    text-align: center;
    transition: var(--animation-duration);
}

.timer__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.isTimerEnd {
    opacity: 1;
}