.input {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-primary);
    border: var(--border-primary);
    border-radius: 6px;
    outline: none;
}

:focus {
    border-color: var(--color-accent);
    outline: none;
    box-shadow: var(--shadow);
}

.inputBox {
    margin-top: 5px;
    position: relative;
}

.input.fullWidth {
    width: 100%;
}

.rightAddon {
    position: absolute;
    right: 0;
}

.leftAddon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.leftAddon svg {
    width: 15px;
    height: 15px;
}