.mainLayout {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 30px;
  grid-area: content;
  justify-self: center;
  padding: 0 16px;
  width: 100%;
}

.right {
  grid-area: right;
}

.right {
  padding: 0 16px;
}

@media screen and (min-width:740.98px) {
  .mainLayout {
    display: grid;
    grid-template-areas:
      'content right';
    grid-template-columns: 70fr 30fr;
  }

  .right {
    position: sticky;
    top: 32px;
    height: fit-content;
    padding: 0 0;
  }
}